body {
  text-align: center;
  background-color: aliceblue;
}

.App {
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 20px;
}

.message {
  position: relative;
  margin: 60px auto;

  max-width: 750px;
  height: 150px;

  border-radius: 8px;
  background-color: #9c9a9a54;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message__logo {
  position: relative;
  top: -32px;
  left: -16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 40%;
  background-color: #5d9ce6;

  border-radius: 8px;
}

@media (max-width: 425px) {
  .message__logo {
    width: 50%;
  }
}

.message__text {
  padding-left: 40px;

  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  color: black;
}

.message__button {
  position: absolute;
  top: -14px;
  right: -14px;

  background-color: darkgray;

  width: 40px;
  height: 40px;
  border: none;
  border-radius: 1000px;
  box-shadow: 3px 1px 5px gray;

  font-size: 24px;

  transition: transform 0.3s ease-in;
}

.message__button:active {
  transform: translateY(3px);
}

.form {
  position: relative;

  margin: 20px auto;
  max-width: 750px;
  height: 90px;
}

.form__text {
  width: 100%;
  height: 100%;

  padding: 10px;

  border-radius: 8px;

  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  color: black;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;

  position: absolute;
  bottom: -30px;
  right: -32px;

  border: none;
  border-radius: 8px;
  box-shadow: 3px 5px 5px grey;

  background-color: darkgray;

  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  color: black;
}

.form__button:active {
}
